modules = ["nodejs-24", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "TNC Web Frontend"

[[workflows.workflow]]
name = "API Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[[workflows.workflow]]
name = "TNC Web Frontend"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=22705 BASE_PATH=/ pnpm --filter @workspace/tnc-web run dev"
waitForPort = 22705

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 22705
externalPort = 3000

[userenv]

[userenv.shared]
ADMIN_PASSWORD = "newtncsite"
ADMIN_TOKEN = "admin_tnc_2024_secure_token"
RAZORPAY_KEY = "rzp_live_in5lCZ8NOaheGp"
FIREBASE_BUCKET = "shivangi-nursing-academy-818e5.appspot.com"
RAZORPAY_SECRET = "NuvPkd4nkPP6w9KAl42SUsvp"
